@font-face {
    font-family: 'ariblk'; 
    src: url('./font/ariblk.ttf');
    
}
@font-face {
    font-family: 'gazeta'; 
    src: url('./font/gazzeta/GazetaDemiBold.ttf');
    
}

.font-ariblk {
    font-family: 'ariblk'; 
}
.font-gazeta{
    font-family: 'gazeta';
}
.left-card{
    display: flex;
    background-color: #838383;
    gap: 12px;
    padding-right: 8px;
    color: white;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}